@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
  color: white;
}

body{
  background-color: #101010;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: whitesmoke;

}

body::-webkit-scrollbar-thumb{
  background-color: rgb(63, 63, 63);
}

textarea::-webkit-scrollbar{
  display: none;
}

textarea:focus{
  outline: none;
}

*::selection{
  background-color: #CF271B;
  color: white;
}

div::-webkit-scrollbar-thumb{
  background-color: rgb(63, 63, 63);
}

div::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: whitesmoke;
}